@font-face{
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Light.eot');
    src: url('../fonts/CeraPro-Light.eot#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Light.woff2') format('woff2'),
        url('../fonts/CeraPro-Light.woff') format('woff'),
        url('../fonts/CeraPro-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face{
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.eot');
    src: url('../fonts/CeraPro-Medium.eot') format('embedded-opentype'),
        url('../fonts/CeraPro-Medium.woff2') format('woff2'),
        url('../fonts/CeraPro-Medium.woff') format('woff'),
        url('../fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face{
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.eot');
    src: url('../fonts/CeraPro-Black.eot') format('embedded-opentype'),
        url('../fonts/CeraPro-Black.woff2') format('woff2'),
        url('../fonts/CeraPro-Black.woff') format('woff'),
        url('../fonts/CeraPro-Black.ttf') format('truetype');
    font-weight: 900;
}

.nvi {
    padding: 171px 105px;
    display: flex;
}

.sidebar-dimenshens {
    flex-shrink: 0;
    background: #FBFBFB;
}
.lf {
    display: flex;
    flex-direction: column;
    padding: 14px 18px;
    max-height: 500px;
    min-height: 500px;

}


 .lf > p {
        margin-bottom: 8px;
        color: #3D3D3D;
        font-family: "Cera Pro";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
 }
 .lf >img {
    display: inline-flex;
    width: 100%;
    height: 100%;
 }
 .navi {
    margin-left: 10px;
 }
 .lf > .navi  > .liman{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
 }
 .lf > .navi  > .liman:first-child {
    color: #46A358;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
} 
.content-main {
    width: 100%;
    margin-left: 50px;
}

.nav-confi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 38px;
    
}
.confi-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.confi-items {
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.confi-items:first-child {
    color: #46A358;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    border-bottom: solid 3px #46A358 ;
    padding: 0 0 4px 0;
}

.categori {
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
}

.categori::after {
    content: url(/img/Arrow\ -\ Down\ 2.png);
    vertical-align: middle;
    margin-left: 5px;
}

.by-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 110px 37px;
    margin-bottom: 150px;
}
.price-wrapper{
    display: flex;

}
.block-img {
    padding-bottom: 30px;
}
.by-card-items {
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    position: relative;
    transition: 0.3s ease-in-out;
    border-top: solid 1px transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 250px;
}

.btn-hover {
    display: flex;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 10px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(20px);
}
.by-card-items:hover .btn-hover{
    opacity: 1;
    transform: translateY(0);
}
.btn-hover > button {
    background-color: #ffffff;
    padding: 4px;
    border-radius: 25%;
    cursor: pointer;
}

.by-card-items:hover{
    border-color:green ;
}
.name-product {
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    margin-bottom: 6px;
}

.price-product {
    color: #46A358;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
}
.price-product-sale {
    margin-left: 16px;
    color: #A5A5A5;
    text-decoration: line-through;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
}

.pagination {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.page {
    padding: 10px 13px;
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.page.active {
        border-radius: 4px;
        background: #46A358;
        color: #E5E5E5;
}

.page:last-child {
        padding: 10px;
}
.page:hover {
    background-color: #46A358;
    color: white;
}

.skid {
    position: absolute;
    top: 1px;
    left: 0;
    background: #46A358;
    padding: 7px 8px;
}
.sale-banner {
    color: #FFFFFF;
    font-family: "Cera Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}
.sale {
    position: relative;
}
