@font-face{
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Light.eot');
    src: url('../fonts/CeraPro-Light.eot#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Light.woff2') format('woff2'),
        url('../fonts/CeraPro-Light.woff') format('woff'),
        url('../fonts/CeraPro-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face{
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.eot');
    src: url('../fonts/CeraPro-Medium.eot') format('embedded-opentype'),
        url('../fonts/CeraPro-Medium.woff2') format('woff2'),
        url('../fonts/CeraPro-Medium.woff') format('woff'),
        url('../fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face{
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.eot');
    src: url('../fonts/CeraPro-Black.eot') format('embedded-opentype'),
        url('../fonts/CeraPro-Black.woff2') format('woff2'),
        url('../fonts/CeraPro-Black.woff') format('woff'),
        url('../fonts/CeraPro-Black.ttf') format('truetype');
    font-weight: 900;
}

.main-box {
    padding: 30px 120px 0;
    margin-bottom: 130px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: solid rgba(70, 163, 88, 0.50) 1px;
    margin-bottom: 12px;
}

.nav {
    display: flex;
}
.nav-items:hover {
    font-weight: 700;
    border-bottom: solid #46A358 3px;
    cursor: pointer;
}

.nav-items {
    font-family: 'Cera Pro';
    color: #3D3D3D;
    font-size: 16px;
    padding: 8px 25px 25px;
    transition: ease-in-out 0.2s
}

.active {
    font-weight: 700;
    border-bottom: solid #46A358 3px;
}

.btn {
    padding: 8px 17px;
    display: flex;
    background-color: #46A358;
    border-radius: 6px;
    gap: 4px;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.btn:hover {
    padding: 10px 19px;
}

.content {
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
    display: flex;
}

.p1 {
    font-family: 'Cera Pro';
    color: #3D3D3D;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1.4px;
    letter-spacing: 1.4px;
    margin-bottom: 7px;
}

.main {
    padding: 68px 100px 85px 40px;
}

h1 {
    white-space: pre-line;
    color: #3D3D3D;
    font-family: 'Cera Pro';
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px; 
    text-transform: uppercase;
    margin-bottom: 5px;
    line-height: 70px;
}

 h1 span {
    width: 50% ;
    color: #46A358;
    font-family: 'Cera Pro';
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
 }



 .btn2 {
    color: #FFF;
    font-family: 'Cera Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    border-radius: 6px;
    background: #46A358;
    padding: 11px 26px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
 }
 .btn2:hover {
    padding: 13px 28px;
 }

 .p2 {
    margin-bottom: 44px;
    color: #727272;
    font-family: 'Cera Pro';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #727272;
 }

 .aside {
    position: relative;
 }
 .p2 span {
    display: block;
 }
  div .flow1 {
    position: relative
 }

 .flow2 {
    position: absolute;
    bottom: 16px;
    left: 55px;

 }


