$accent_color: var(--Accent, #F0145A);
$active_regular: var(--Active-Regular, #24A3FF);

@media screen and (min-width: 400px) {
header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-bottom: 30px;
    gap: 10px;
    .header__top {
        display: flex;
        padding: 10px 15px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        background: var(--Grey-Bg, #F5F5FA);
        
        
        
        span {
            color: var(--Grey-Text, #B3B3BA);
            text-align: right;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .check-radio {
            display: flex;
            flex-direction: row;
            gap: 14px;
            align-items: center;
            
            p {
                margin: 0px;
            }
            svg {
                display: none;
            }
            .check-radio__adres {
                color: var(--Grey-Text, #B3B3BA);
                text-align: right;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                display: none;
            }

            .check-radio__number {
                color: var(--Grey-Text, #B3B3BA);
                text-align: right;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                display: none;
            }

            label {
                cursor: pointer;
                transition: ease-in-out 0.3s;
               
                .check-radio__custom {
                    padding: 5px 7px;
                    border-radius: 8px;
                    transition: ease-in-out 0.3s;
                }
                input[type="radio"] {
                display: none; 
                }
                input[type="radio"]:checked ~ .check-radio__custom{ 
                    color: #ffffff;
                    background-color: #F0145A;
            }
            }
            .check-radio__items {
                color: var(--Grey-Text, #B3B3BA);
                text-align: center;
                font-family: Montserrat;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 1px;

            }
            
        }
        }
    .header__box {
        width: 100%;
        display: none;
    > .header__top {
        display: flex;
        padding: 10px 15px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        background: var(--Grey-Bg, #F5F5FA);
        
        
        
        span {
            color: var(--Grey-Text, #B3B3BA);
            text-align: right;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .check-radio {
            display: flex;
            flex-direction: row;
            gap: 14px;
            align-items: center;
            
            p {
                margin: 0px;
            }
            svg {
                display: none;
            }
            .check-radio__adres {
                color: var(--Grey-Text, #B3B3BA);
                text-align: right;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                display: none;
            }

            .check-radio__number {
                color: var(--Grey-Text, #B3B3BA);
                text-align: right;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                display: none;
            }

            label {
                cursor: pointer;
                transition: ease-in-out 0.3s;
               
                .check-radio__custom {
                    padding: 5px 7px;
                    border-radius: 8px;
                    transition: ease-in-out 0.3s;
                }
                input[type="radio"] {
                display: none; 
                }
                input[type="radio"]:checked ~ .check-radio__custom{ 
                    color: #ffffff;
                    background-color: #F0145A;
            }
            }
            .check-radio__items {
                color: var(--Grey-Text, #B3B3BA);
                text-align: center;
                font-family: Montserrat;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 1px;

            }
            
        }
        }
        
    }
    
    > .header__button {
        display: flex;
        padding: 0 15px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        .logo {
            img {
                width: 80%;
            }
        }

    }
    .nav-meny {
        display: flex;
        flex-direction: row;
        display: none;

        .nav-meny__bar {
            display: flex;
            flex-direction: inherit;
        }
       }
}
.main {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    gap: 30px;

    .main__text {
        font-family: Montserrat;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .main__card {
         display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 60px;
        .main__card--person {
             flex: 1 1 250px;
                max-width: 300px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                border-radius: 20px 20px 20px 20px;
                gap: 20px;

            .main__person--inf {
                display: flex;
                flex-direction: row;
                width: 80%;
                align-items: center;
                justify-content: space-between;
                svg {
                    transition: ease-in-out 0.3s;
                }

                svg:hover {
                    fill:#EDEDF7 ;
                    stroke: #F0145A ;
                }
            }

            .main__card--person__text {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: flex-start;
                gap: 10px;
                span:hover {
                    color: #F0145A;
                }
                span {
                    color: var(--Main-Regular, #323264);
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    transition: ease-in-out 0.3s;
                }
                p{
                    color: var(--Grey-Text, #B3B3BA);
                    font-family: Montserrat;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px; /* 157.143% */
                }
            }

            .main__card--person__imd {
                img {
                    height: 300px;
                    border-radius: 12px;
                }
            }
        }

    }
}

footer {
        background: var(--Grey-Bg, #F5F5FA);
   
        .footer__items {
            display: flex;
            padding: 30px 60px;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            align-self: stretch;

            p {
                color: var(--Main-Regular, #323264);
                text-align: center;
                /* H3 / Caps */
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
            .footer__card--dad{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 20vh;
            .footer__card--1{
                display: flex;
                width: 100%;
                height: 20vh;
                justify-content: center;
                align-items: center;
                padding: 24.4px 0 25.6px 0;
                border-radius: 12px;
                background: var(--Basic-White, #FFF);
            }
            .footer__card--2 {
                display: none;
            }
            .footer__card--3 {
                display: none;

            }.footer__card--4 {
                display: none;
            }
            
            }
            .footer__radio__dad {
                display: flex;
                flex-direction: row;
                gap: 10px;
            }


        }

        .footer__items--2 {
            display: flex;
            padding: 0 30px 30px 30px;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            align-self: stretch;

            .footer__items--main-box {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 21px;

                .footer__items--2__nad-item {
                    display: flex;
                    flex-direction: column;
                }

                .footer__items--2__pod-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 15px;
                }

            .footer__items--radio {
                display: none;
            }

            .footer__items--2__text {
                color: var(--Main-Regular, #323264);
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .footer__items--2__btn {
                border: none;
                color: var(--Active-Regular, #24A3FF);
                font-family: Montserrat;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 1px;
                text-transform: uppercase;
                background-color: var(--Grey-Bg, #F5F5FA) ;
            }

            .footer__items--2__number {
                color: var(--Main-Alt, #46466E);
                text-align: right;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .footer__items--2__email {
                color: var(--Active-Regular, #24A3FF);
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .footer__items--2__buttom {
                color: var(--Grey-Text, #B3B3BA);
                text-align: center;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}
}
@media screen and (min-width: 767px) {
    header {    
        padding: 60px;
        gap: 30px;

        .header__top{
            display: none;
        }
        .header__box{
            display: block;

        .header__top {
            background: none;
            padding: 10px;

            .number-company {
                display: none;
            }

            .check-radio {
                align-items: center;
                gap: 6px;
                flex-direction: row;
                display: flex;

                .check-radio__items {

                    .check-radio__custom{
                    color: var(--Grey-Text, #B3B3BA);
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 1px;
                    }
                }
                       
                .check-radio__adres {
                color: var(--Grey-Text, #B3B3BA);
                text-align: right;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                display: none;
                margin: 0 0 0 0;
            }

            .check-radio__number {
                color: var(--Grey-Text, #B3B3BA);
                text-align: right;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                display: none;
                margin: 0 0 0 0;
            }

            label {
                cursor: pointer;
                transition: ease-in-out 0.3s;
               
                 .check-radio__custom {
                    padding: 5px 7px;
                    border-radius: 8px;
                    transition: ease-in-out 0.3s;
                }
                .check-radio__custom {
                    padding: 5px 7px;
                    border-radius: 8px;
                    transition: ease-in-out 0.3s;
                }
                input[type="radio"] {
                display: none; 
                }
                input[type="radio"]:checked ~ .check-radio__custom{ 
                    color: #ffffff;
                    background-color: #F0145A;
            }
            }
        
                .check-radio__number {
                    display: block;
                }

                svg {
                    display: block;
                }

                .check-radio__adres {
                    display: block;
                }

            }
        }
        .nav-meny {
            display: flex;
            flex-direction: row;

            .nav-meny__bar {
                list-style: none;
                gap: 15px;
                padding: 0 10px;

                .nav-meny__bar--inems:hover {
                    color: $accent_color;
                    border-bottom: solid 1px $accent_color;
                }

                li {
                    color: var(--Active-Regular, #24A3FF);
                    text-align: right;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    transition: ease-in-out 0.3s;
                }
            }
         }
        }
       

    }

    .main {
        display: flex;
        padding: 0 60px;
        .main__card {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 60px;

            .main__card--person {
                flex: 1 1 250px;
                max-width: 300px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                border-radius: 20px 20px 20px 20px;

                .main__card--person__imd {
                    border-radius: 12px 12px 12px 12px;
                }
                
            }
        }
    }
    footer {
        padding: 0 60px;
        gap: 10px;
        display: flex;
        flex-direction: column;

        .footer__items {
            border-bottom: solid 2px  var(--Grey-Separator, #E6E6F0);
            padding: 30px 0;
            margin-bottom: 30px;

            .footer__radio__dad {
                .footer__radio--2{
                    display: none;
                }
                .footer__radio--3{
                    display: none;
                }
                .footer__radio--4{
                    display: none;
                }
            }
            .footer__card--dad {
            display: flex;
            flex-direction: row;
            gap:40px;

            .footer__card--img{
                width: 100%;
                height: auto;
            }
            .footer__card--img--1 {
                width: auto;
            }
            .footer__card--1 {
                display: flex;
                width: 100%;
                height: 20vh;
                justify-content: center;
                align-items: center;
                padding: 24.4px 0 25.6px 0;
                border-radius: 12px;
                background: var(--Basic-White, #FFF);
            }
            .footer__card--2 {
                display: flex;
                width: 100%;
                height: 20vh;
                justify-content: center;
                align-items: center;
                padding: 24.4px 0 25.6px 0;
                border-radius: 12px;
                background: var(--Basic-White, #FFF);
            }
            .footer__card--3 {
                display: flex;
                width: 100%;
                height: 20vh;
                justify-content: center;
                align-items: center;
                padding: 24.4px 0 25.6px 0;
                border-radius: 12px;
                background: var(--Basic-White, #FFF);

            }.footer__card--4 {
                display: flex;
                width: 100%;
                height: 20vh;
                justify-content: center;
                align-items: center;
                padding: 24.4px 0 25.6px 0;
                border-radius: 12px;
                background: var(--Basic-White, #FFF);
            }
        }
          
        }
        
        .footer__items--2 {
                
            .footer__items--main-box {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 21px;

                .footer__items--radio {
                    display: block;
                }

                .footer__items--2__nad-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 10px;

                    .footer__items--2__text {
                        margin: 0 0 0;
                    }

               
                }
             .footer__items--2__pod-item {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    flex-direction: row;

                    p {
                        margin: 0 0;
                    }
                }
            }

            .footer__items--2__buttom {
                color: var(--Grey-Text, #B3B3BA);
                text-align: center;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            
        }
    }
}
@media screen and (min-width: 926px) {
    footer {
        .footer__items {
            .footer__card--dad {
                .footer__card--img {
                    width: 70%;
                }
            }
        }
    }
}
@media screen and (min-width: 1439px) {
    header {
        flex-direction: row;
        padding: 50px 110px 0 110px;
        justify-content: space-between;

        .header__top{
            display: none;
        }
        .header__box {
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: flex-end;
            width: 50%;
            justify-content: flex-end;
            
            .header__top {
                align-self: flex-end;
            }
        }
    }

    .main {
        margin-bottom: 30px;
        padding: 0 110px;
        .main__card {
            .main__card--person {
                flex: 1 1 300px;
            }
        }
    }

    footer {
        .footer__items {
            .footer__card--dad {
              
                .footer__card--img {
                    width: 50%;
                }
                
            }
        }
        .footer__items--2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}