*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 133, 205, 0.825);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.mainbox {
    background-color: rgb(255, 255, 255);
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 50px 100px;
    position: relative;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.33);

}

.mainbox span {
    color: #3D3D3D;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
}

.mainbox .gre {
    color: #46A358;
    margin-left: 27px;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    
}
.eml{
    margin-bottom:16px;
    margin-left: 17px;
}

.eml input {
    border-radius: 5px;
    border: solid 1px gray;
    padding-left: 14px;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-right: 118px;
}

form .reg {
    border-radius: 5px;
    background: #46A358;
    padding: 16px 118px;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    border: none;
    margin-bottom: 36px;
    cursor: pointer;
}



form .orreg {
    color: #3D3D3D;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    position: relative;
    right: 42px;
    margin-bottom: 14px;
    margin-top: 40px;
    
}

form .nonreg {
    color: #3D3D3D;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px; 
    margin-bottom: 27px;
}

.google-button {
    background-color: #FFF;
    color: #727272;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    padding: 13px 70px;
    border: solid 2px #EAEAEA;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;


}

.google-button img {
  width: 20px; 
  margin-right: 10px;
}

.google-button:hover {
  opacity: 0.8;
}

.facebook-button {
    background-color: #FFF;
    color: #727272;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    padding: 13px 66px;
    border: solid 2px #EAEAEA;
    border-radius: 5px;
    cursor: pointer;


}

.facebook-button img {
  width: 20px; 
  margin-right: 10px;
}

.facebook-button:hover {
  opacity: 0.8;
}

.mainbox #img-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 13px;



}
.mainbox #hide {
    position: absolute;
    right: 120px;
    top: 266px;
}



